@import '../../scss/vars';

.statusbar {
	display: flex;
	justify-content: space-between;

	&__main {
		display: flex;
		align-items: center;
		gap: 28px;

		@media (max-width: 768px) {
			gap: 8px;
		}

		@media (max-width: 424px) {
			width: 100%;
			justify-content: space-between;
		}
	}

	&__activities {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	&__fullscreen {
		width: 30px;
		height: 30px;
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 12px;
			height: 12px;

			path {
				fill: $black2;
				transition: 350ms;
			}
		}

		&:hover {
			@media #{$mouse-device} {
				svg path {
					fill: $black1;
				}
			}
		}
	}

	@media (max-width: 424px) {
		.pagination {
			display: none;
		}
	}
}