$white1: #F8FBFF;
$white2: #FBFBFB;
$white3: #f8f8f8;

$border1: #BDBED9;
$border2: #E1E2F6;
$border2hover: #c3c4e6;
$border2active: #abacd8;

$black1: #36373A;
$black2: rgba(54, 55, 58, 0.5);
$black3: rgba(54, 55, 58, 0.75);

$mouse-device: '(hover: hover) and (pointer: fine)';